.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuBtn {
  background-color: transparent;
  border: none;

  padding-top: 5px;
  padding-bottom: 5px;

  & svg {
    fill: var(--color-text);
  }
}

.navigationBox {
  display: none;
}

.linkNav {
  font-size: 18px;
}

.addressBox {
  display: none;
}

.linkAddress {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: var(--color-text);

  & svg {
    fill: white;
  }
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
  .menuBtn {
    display: none;
  }

  .navigationBox {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .addressBox {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1440px) {
}
