.logoLink {
  display: flex;
  align-items: center;
  gap: 8px;

  padding-top: 10px;
  padding-bottom: 10px;

  transition:
    transform 300ms ease,
    box-shadow 300ms ease;

  /* &:hover {
    transform: translateY(-2px) scale(1.02); */
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); */

  /* & .logoIcon {
      fill: var(--color-button-hover);
      transition: fill 300ms ease;
    }

    & .firstName,
    & .lastName {
      color: var(--color-button-hover);
      transition: color 300ms ease;
    }
  } */
}

.logoIcon {
  fill: var(--color-text);
}

.nameBox {
  font-family: var(--font-playfair-display), serif;
  font-weight: 600;
  font-size: 18px;
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1440px) {
}
