.logoLink {
  display: flex;
  align-items: center;
  gap: 8px;

  padding-top: 10px;
  padding-bottom: 10px;

  transition: transform 400ms ease;

  &:hover,
  &:focus {
    transform: translateY(-2px) scale(1.02);

    & .logoIcon {
      fill: var(--color-button-hover);
    }

    & .firstName,
    & .lastName {
      color: var(--color-button-hover);
    }
  }

  &:active {
    transform: translateY(0) scale(1);
  }
}

.logoIcon {
  fill: var(--color-text);
  transition: fill 300ms ease;
}

.nameBox {
  font-family: var(--font-playfair-display), serif;
  font-weight: 600;
  font-size: 18px;
}

.firstName,
.lastName {
  transition: color 300ms ease;
}

/* Footer */
.logoLink.linkFooter {
  width: fit-content;
  padding: unset;
  flex-direction: column;
  color: var(--color-off-white);

  margin: 0 auto;
  margin-bottom: 20px;

  &:hover .logoIcon,
  &:focus .logoIcon {
    fill: var(--color-button-hover);
  }
}

.logoLink.linkFooter .logoIcon {
  width: 60px;
  height: 60px;
  fill: var(--color-off-white);
}

.logoLink.linkFooter .nameBox {
  display: flex;
  gap: 5px;
  font-size: 22px;
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1440px) {
}
