.toggleBtnBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  &.menuBox {
    margin-bottom: 40px;
  }
}

.line {
  width: 2px;
  height: 37px;
  background-color: var(--color-text);

  &.menuLine {
    height: 40px;
  }
}
