.heroPrice {
  padding-top: 80px;
  padding-bottom: 40px;
  min-height: 350px;

  background-image: url("/images/prices/heroPrice.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.heroTitle {
  font-family: var(--font-playfair-display);

  display: block;
  /* background-color: #fff; */
  max-width: 300px;

  text-align: center;
  font-size: 36px;
  line-height: 100%;

  /* box-shadow: 0px 0px 21px 27px #ffffff;

  text-shadow: 0 0 60px #fff; */

  text-shadow:
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #fff,
    0 0 40px #fff,
    0 0 60px #fff,
    0 0 80px #fff;
}

@media only screen and (min-width: 375px) {
  .heroPrice {
    min-height: 400px;
  }

  .heroTitle {
    text-align: left;
    font-size: 48px;
    margin-left: 40px;
  }
}

@media only screen and (min-width: 375px) {
  .heroTitle {
    max-width: 250px;
  }
}

@media only screen and (min-width: 768px) {
  .heroPrice {
    background-position: bottom;
    background-image: url("/images/prices/heroPriceTab.webp");
  }

  .heroTitle {
    margin-left: 80px;
    font-size: 52px;
    max-width: 265px;
  }
}

@media only screen and (min-width: 1024px) {
  .heroPrice {
    min-height: 500px;
    padding-top: 150px;
  }

  .heroTitle {
    margin-left: 150px;
    font-size: 58px;
    max-width: 300px;
  }
}

@media only screen and (min-width: 1440px) {
  .heroPrice {
    min-height: 600px;
  }

  .heroTitle {
    max-width: 690px;
    text-align: center;
    margin: 0 auto;
    font-size: 72px;
  }
}
